@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'https://fonts.googleapis.com/css2?display=swap&amp;family=Epilogue%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Epilogue, "Noto Sans", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.accordion a {
  @apply text-center border border-[#f0f2f4] border-t-0 py-4 hover:bg-blue-light active:bg-blue-light focus:outline-none hover:text-white active:text-white;
}

button {
  &.primary {
    @apply min-w-[84px] sm:max-w-[480px] items-center justify-center rounded-xl h-10 px-4 bg-blue text-white text-sm font-bold flex hover:bg-blue-light active:bg-blue-light focus:outline-none hover:transition-all duration-500 hover:text-white active:text-white;
  }

  &.gray {
    @apply flex items-center justify-center rounded-xl h-10 bg-[#f0f2f4] text-[#111418] gap-2 text-sm font-bold px-2.5 hover:bg-blue-light active:bg-blue-light focus:outline-none hover:transition-all duration-500 hover:text-white active:text-white;
  }

  & + button {
    @apply ml-2;
  }
}

.MuiOutlinedInput-root, textarea[variant="outlined"] {
  @apply border;
}

textarea {
  padding: 0.5rem;
}